<mat-grid-list cols="2" rowHeight="600px">
  <mat-grid-tile>
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Twórz wspaniałe opisy zadań do Jiry!</mat-card-title>
      </mat-card-header>
      <mat-divider/>
      <mat-card-content class="mat-mt-2">
        <!-- Co tam, podglądaczu? Tu naprawdę nie ma co podziwiać, nawet junior by tak nie napisał. -->
        <form [formGroup]="jiraDescTypeForm">
          <br>
          <label id="desc-type-label">Najpierw wybierz, czego ma dotyczyć opis</label>
          <mat-radio-group
            aria-labelledby="desc-type-label"
            formControlName="type"
            class="example-radio-group"

          >
            @for(type of descType; track type) {
              <mat-radio-button class="example-radio-button" [value]="type.id">{{ type.value }}</mat-radio-button>
            }
          </mat-radio-group>
          <br>
          @if(jiraDescTypeForm.controls.type.value !== null) {
            <label id="sentence-count-label">A teraz wybierz ilość zdań (1-25)</label>
            <br>
            <mat-form-field>
              <input
                aria-labelledby="sentence-count-label"
                matInput type="number"
                formControlName="countOfSentences"
                [min]="1"
                [max]="25"
              >
            </mat-form-field>

          }
        </form>
        <button mat-button (click)="forceGenerate()">Generuj ponownie</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    @if(generatedText$ | async; as generatedText) {
      <app-generated-jira-text [generatedText]="generatedText"/>
    }
  </mat-grid-tile>
</mat-grid-list>




